@page
@model EfCore_UseCase.Pages.ProductCategory.CreateModel
@{
}

<form method="post">
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="name">نام گروه</label>
            <input class="form-control" name="name" id="name" type="text" />
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-success">ایجاد</button>
        </div>
    </div>
</form>